src/main/mule/digitalanalysis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a965252b-e88a-4534-9dfe-a42d88b83acd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="digitalanalysisFlow" doc:id="c0477d27-72ba-4756-bd5e-32f5c32e6d11" >
		<http:listener doc:name="Listener" doc:id="e29e90b0-3619-4b18-a9dc-31f6049a3899" config-ref="HTTP_Listener_config" path="/digital"/>
		<logger level="INFO" doc:name="Logger" doc:id="cdb98705-c49a-482e-bc86-82e411a7276e" message="#[payload]"/>
	</flow>
</mule>
